h4.plantilla{ color: yellow; background-color: black; text-align: center;}
div.div1 {background-color: rgb(39, 245, 39);}
div.div2{ background-color: rgb(73, 250, 73);}
div.div3{ background-color: rgb(118, 248, 118);}
div.div4{ background-color: rgb(170, 238, 170);}

img.imagen1{ height: 250px; width: 150px;}
img.imagen2{ height: 400px; width: 300px;}